h1 {
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.container {
  display: flex;
  justify-content: space-ar;
  align-items: center;
  gap: 5px;
  width: 1030px;
  margin: 2rem auto;
}

.cardTitle {
  color: red;
}
